.wrapper {
    --search-border-radius: 92px;
    --search-btn-width: 52px;
    --search-btn-height: 46px;
    --search-btn-top: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.action {
    display: flex;
    align-items: center;
    color: #575860;
}

.btn-upload {
    margin-right: 12px;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    display: flex;
    padding: 4px 6px 4px 6px;
    position: relative;
    cursor: pointer;
}

.notify {
    position: absolute;
    font-size: 1.3rem;
    background-color: var(--primary);
    color: var(--white);
    width: 24px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    top: 0px;
    right: 5px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
}

.icon-plus {
    color: var(--default-color-text-primary);
    margin-right: 10px;
}

.icon-header-right {
    display: flex;
    background-color: transparent;
    margin-left: 25px;
}

.icon-header-menu {
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
    cursor: pointer;
}
